@import '../../style/utils.styl'
@import '../../style/media.styl'

.home
  min-height: 100%
  position: relative
  padding: pxToRem(60)
  padding-bottom: pxToRem(130)
  display: flex
  flex-direction: column
  +tablet()
    padding: pxToRem(60) pxToRem(80) pxToRem(130)
  +mobile()
    padding: pxToRem(30) pxToRem(30) pxToRem(140)

.slogan
  text-align: center
  margin-top: pxToRem(50)
  margin-bottom: pxToRem(120)
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  +mobile()
    margin-top: pxToRem(25)
    margin-bottom: pxToRem(100)

.forecast
  margin-top: auto

.row
  display: flex
  justify-content: space-between
  childrenSpacingX(pxToRem(105))
  +tablet()
    flex-direction: column
    childrenSpacingX(0)
    childrenSpacingY(0)

.col
  flex: 1
  &Content
    display: flex
    align-items: center
    justify-content: space-between
    min-height: pxToRem(145)
    border-top: 1px solid #D1D1BF
    +mobile()
      max-height: pxToRem(325)
      padding-top: pxToRem(15)
      padding-bottom: pxToRem(18)
      flex-direction: column
      flex-wrap: wrap
      align-items: flex-start
      justify-content: flex-start
  &Caption
    margin-bottom: pxToRem(5)
    +mobile()
      margin-bottom: pxToRem(15)

.col + .col
  +mobile()
    margin-top: pxToRem(30)

.desktopPromo
  desktopOnly()

.tabletPromo
  tabletOnly()

.mobilePromo
  mobileOnly()

.forecastItem
  width: pxToRem(75)
  childrenSpacingY(pxToRem(8))
  +mobile()
    margin-bottom: pxToRem(27)
    childrenSpacingY(pxToRem(5))

.designedBy
  margin-top: pxToRem(40)
  +mobile()
    margin-top: pxToRem(20)


.try
  display: inline-block
  border: pxToRem(1) solid black
  padding: pxToRem(12)
  margin-top: pxToRem(20)
  cursor: pointer

.setIn
  margin-top: pxToRem(7)

.firstItem
  font-family: GrtskPetaBkslnt, Helvetica, sans-serif !important

.fullText
  br
    display: none

.bottom
  +mobile()
    display: none

.bottomMobile
  mobileOnly()
