@import '../../style/media.styl'
@import '../../style/utils.styl'

.menu
  position: absolute
  top: 100%
  left: 0
  width: pxToRem(350)
  height: pxToRem(365)
  background-color: #171717
  color: white
  box-shadow: 0 pxToRem(20) pxToRem(20) rgba(23, 23, 23, 0.2)
  border-radius: pxToRem(5)
