@import '../../style/media.styl'
@import '../../style/utils.styl'
@import '../../style/font-utils.styl'

.menu
  position: absolute
  top: 100%
  left: 0
  width: pxToRem(340)
  margin-top: pxToRem(10)
  z-index: 100
  transform: translateZ(1px)
  +mobile()
    width: pxToRem(320)
  &Input
    height: pxToRem(55)
    position: relative
    &Icon
      width: pxToRem(26)
      height: pxToRem(24)
      position: absolute
      left: pxToRem(18)
      top: pxToRem(15)
      > svg
        display: block
    > input
      width: 100%
      height: 100%
      border: 0
      padding-left: pxToRem(60)
      font-size: pxToRem(16)
      line-height: (40 / 16)
      grtskTeraSemiBold()
      &:focus
        outline: none
  &CitiesBox
    height: pxToRem(312)
    padding-left: pxToRem(60)
    padding-top: pxToRem(17)
    padding-right: pxToRem(20)
    overflow: auto
  &CitiesItem
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    cursor: pointer
    font-size: pxToRem(16)
    line-height: (40 / 16)
    grtskPeta()
  &CitiesItem:hover
      text-decoration: underline
