@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animCloudyWide {
  from {
    font-variation-settings: 'wdth' 760, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  }
}

@keyframes animCloudyWider {
  from {
    font-variation-settings: 'wdth' 1000, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  }
}

@keyframes animCloudyGrow {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 1000, 'wght' 500, 'slnt' 0
  }
}

@keyframes animCloudyGrowT {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 900, 'wght' 500, 'slnt' 0
  }
}

.cloudy
  background-color: #434250
  color: #C49FFF

  .slogan
    +tablet()
      margin-left: pxToRem(-80)
      margin-right: pxToRem(-80)
    +mobile()
      margin-left: 0
      margin-right: 0

  // text styles
  .gargantuan
    font-size: pxToRem(264)
    line-height: (231 / 264)
    letter-spacing: tracking(-30)
    grtskZettaMedium()
    +tablet()
      font-size: pxToRem(200)
      line-height: (175 / 200)
    +mobile()
      font-size: pxToRem(118)
      line-height: (103 / 118)

  .cloudy-wide
    grtskGiga()
    animation: animCloudyWide 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +mobile()
      animation: none

  .cloudy-wider
    grtskMegaMedium()
    animation: animCloudyWider 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +mobile()
      grtskZettaMedium()
      animation: none

  .cloudy-grow
    animation: animCloudyGrow 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +tablet()
      animation: animCloudyGrowT 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +mobile()
      animation: none

  .top-line
    background: linear-gradient(270deg, #FFFFE8, #9DFFE1, #E28974)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: #9ED2E5
    +tablet()
      &:after
        background-color: #9ED2E5

  .bottom
    color: #C49FFF

  .col-content
    border-top: 1px solid #C49FFF

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #C49FFF

  .switch-slider:before
    background-color: #FFFFE8

  .try-button
    border: pxToRem(1) solid #C49FFF

  menuStyle(
    bgColor: #434250,
    inputColor: #434250,
    inputBgColor: #C49FFF,
    itemsColor: #C49FFF,
    borderColor: #C49FFF
  )
