@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

.xxs
  font-size: pxToRem(12)
  line-height: (14 / 12)
  grtskPeta()
.xs
  font-size: pxToRem(14)
  line-height: (17 / 14)
  grtskPeta()
.s
  font-size: pxToRem(19)
  line-height: (23 / 19)
  grtskPetaBkslnt()
.m
  font-size: pxToRem(19)
  line-height: (27 / 19)
  grtskPeta()
.l
  font-size: pxToRem(21)
  line-height: (25 / 21)
  grtskPetaSemiBold()
.xl
  font-size: pxToRem(22)
  line-height: (26 / 22)
  grtskMegaSemiBold()
.xxl
  font-size: pxToRem(27)
  line-height: (32 / 27)
  grtskPeta()
.gigantic
  font-size: pxToRem(45)
  line-height: (54  / 45)
  grtskPeta()
  +mobile()
    font-size: pxToRem(28)
    line-height: (34  / 28)
