@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

.default
  background-color: #FFFFE8

  // text styles
  .xxs
    font-size: pxToRem(12)
    line-height: (14 / 12)
    grtskPeta()
  .xs
    font-size: pxToRem(14)
    line-height: (17 / 14)
    grtskPeta()
  .s
    font-size: pxToRem(19)
    line-height: (23 / 19)
    grtskPetaBkslnt()
  .m
    font-size: pxToRem(19)
    line-height: (27 / 19)
    grtskPeta()
  .l
    font-size: pxToRem(21)
    line-height: (25 / 21)
    grtskPetaSemiBold()
  .xl
    font-size: pxToRem(22)
    line-height: (26 / 22)
    grtskMega()
  .xxl
    font-size: pxToRem(27)
    line-height: (32 / 27)
    grtskPeta()
  .gigantic
    font-size: pxToRem(45)
    line-height: (54  / 45)
    grtskPeta()
    +mobile()
      font-size: pxToRem(28)
      line-height: (34  / 28)
  .gargantuan
    font-size: pxToRem(202)
    line-height: (178 / 202)
    letter-spacing: tracking(-40)
    grtskGiga()
    +tablet()
      font-size: pxToRem(185)
      line-height: (163 / 185)
      grtskTera()
    +mobile()
      font-size: pxToRem(130)
      line-height: (115 / 130)
      grtskZetta()

  .top-line
    background: linear-gradient(270deg, #c42bf2, #ffff05, #aee6d5, #000aff)
    animation: topline-animation 10s ease infinite
    background-size: 400% 400%

  .bottomBox
    background-color: #002CD9
    +tablet()
      &:after
        background-color: #002CD9

  .bottom
    color: #C42BF2
