@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animDefaultInit {
  from {
    font-variation-settings: 'wdth' 760, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 760, 'wght' 100, 'slnt' 15
  }
}

@keyframes animDefaultLoop {
  from {
    font-variation-settings: 'wdth' 760, 'wght' 100, 'slnt' 15
  }
  to {
    font-variation-settings: 'wdth' 760, 'wght' 100, 'slnt' -15
  }
}

@keyframes animDefaultInitT {
  from {
    font-variation-settings: 'wdth' 530, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' 15
  }
}

@keyframes animDefaultLoopT {
  from {
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' 15
  }
  to {
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' -15
  }
}

@keyframes animDefaultInitM {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 100, 'slnt' 15
  }
}

@keyframes animDefaultLoopM {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 100, 'slnt' 15
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 100, 'slnt' -15
  }
}

.default
  background-color: #FFFFE8

  // text styles
  .gargantuan
    font-size: pxToRem(202)
    line-height: (178 / 202)
    letter-spacing: tracking(-40)
    grtskGiga()
    padding-bottom: pxToRem(100)
    margin-bottom: pxToRem(-100)
    animation:
      animDefaultInit 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,
      animDefaultLoop 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 750ms infinite alternate
    +tablet()
      font-size: pxToRem(185)
      line-height: (163 / 185)
      grtskTera()
      animation:
        animDefaultInitT 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,
        animDefaultLoopT 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 750ms infinite alternate
    +mobile()
      font-size: pxToRem(130)
      line-height: (115 / 130)
      grtskZettaMedium()
      animation:
        animDefaultInitM 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,
        animDefaultLoopM 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 750ms infinite alternate

  .top-line
    background: linear-gradient(270deg, #c42bf2, #ffff05, #aee6d5, #000aff)
    animation: topline-animation 10s ease infinite
    background-size: 400% 400%

  .bottomBox
    background-color: #002CD9
    +tablet()
      &:after
        background-color: #002CD9

  .bottom
    color: #C42BF2

  .col-content
    border-top: 1px solid #D1D1BF

  .switch-slider:before
    background-color: $BLACK

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) $BLACK

  .try-button
    border: pxToRem(1) solid $BLACK

  menuStyle(
    bgColor: #FFFFE8,
    inputColor: #FFFFE8,
    inputBgColor: #171717,
    itemsColor: #121212,
    borderColor: #171717,
  )
