@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animFoggy {
  from {
    font-variation-settings: 'wdth' 760, 'wght' 700, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 760, 'wght' 100, 'slnt' 0
  }
}

@keyframes animFoggyT {
  from {
    font-variation-settings: 'wdth' 200, 'wght' 700, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' 0
  }
}

@keyframes animFoggyM {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 100, 'slnt' 0
  }
}

.foggy
  background-color: #5E4662
  color: #AFAFAF

  // text styles
  .gargantuan
    font-size: pxToRem(263)
    line-height: (227 / 263)
    letter-spacing: tracking(-40)
    grtskGigaBold()
    animation: animFoggy 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate
    +tablet()
      grtskExaBold()
      font-size: pxToRem(251)
      line-height: (220 / 251)
      letter-spacing: tracking(-30)
      animation: animFoggyT 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate
    +mobile()
      grtskZettaBold()
      font-size: pxToRem(129)
      line-height: (120 / 129)
      animation: animFoggyM 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate

  .top-line
    background: linear-gradient(270deg, #BEF7E6, #FFEC05, #F24C4C)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: #5AE3CE
    &:after
      +tablet()
        background-color: #5AE3CE

  .bottom
    color: #A0FF93

  .col-content
    border-top: 1px solid rgba(175, 175, 175, 0.2)

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #AFAFAF

  .switch-slider:before
    background-color: #AFAFAF

  .try-button
    border: pxToRem(1) solid #AFAFAF

  menuStyle(
    bgColor: #5E4662,
    inputColor: #5E4662,
    inputBgColor: #AFAFAF,
    itemsColor: #AFAFAF,
    borderColor: #AFAFAF
  )
