@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

.foggy
  background-color: #5E4662
  color: #AFAFAF

  // text styles
  .gargantuan
    font-size: pxToRem(263)
    line-height: (227 / 263)
    letter-spacing: tracking(-40)
    grtskGigaBold()
    +tablet()
      grtskExaBold()
      font-size: pxToRem(251)
      line-height: (220 / 251)
      letter-spacing: tracking(-30)
    +mobile()
      grtskZettaBold()
      font-size: pxToRem(129)
      line-height: (107 / 129)
      letter-spacing: tracking(-20)

  .top-line
    background: linear-gradient(270deg, #BEF7E6, #FFEC05, #F24C4C)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: #5AE3CE
    &:after
      +tablet()
        background-color: #5AE3CE

  .bottom
    color: #A0FF93

  .col-content
    border-top: 1px solid rgba(175, 175, 175, 0.2)

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #AFAFAF

  .switch-slider:before
    background-color: #AFAFAF

  .try-button
    border: pxToRem(1) solid #AFAFAF
