@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animHail {
  from {
    font-variation-settings: 'wdth' 1000, 'wght' 100, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 1000, 'wght' 700, 'slnt' 0
  }
}

@keyframes animHailT {
  from {
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 530, 'wght' 700, 'slnt' 0
  }
}

@keyframes animHailM {
  from {
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 200, 'wght' 700, 'slnt' 0
  }
}

.hail
  background-color: #4A4A4A
  color: #B1B1B1

  // text styles
  .gargantuan
    color: #B172DE
    font-size: pxToRem(187)
    line-height: (170 / 187)
    letter-spacing: tracking(-40)
    grtskMegaThin()
    animation: animHail 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +tablet()
      grtskTeraThin()
      font-size: pxToRem(173)
      line-height: (159 / 173)
      animation: animHailT 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +mobile()
      grtskExaThin()
      font-size: pxToRem(102)
      line-height: (93 / 102)
      animation: animHailM 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate

  .top-line
    background: linear-gradient(270deg, #C42BF2, #F2C7FF, #0000FF)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: #B172DE
    +tablet()
      &:after
        background-color: #B172DE

  .bottom
    color: #48D8C7

  .col-content
    border-top: 1px solid #B1B1B1

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #B1B1B1

  .switch-slider:before
    background-color: #B172DE

  .try-button
    border: pxToRem(1) solid #B1B1B1

  menuStyle(
    bgColor: #4A4A4A,
    inputColor: #FFFFFF,
    inputBgColor: #B172DE,
    itemsColor: #B172DE,
    borderColor: #B172DE
  )
