@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animHaze {
  from {
    font-variation-settings: 'wdth' 760, 'wght' 700, 'slnt' -15
  }
  to {
    font-variation-settings: 'wdth' 760, 'wght' 100, 'slnt' -15
  }
}

@keyframes animHazeT {
  from {
    font-variation-settings: 'wdth' 300, 'wght' 700, 'slnt' -15
  }
  to {
    font-variation-settings: 'wdth' 300, 'wght' 100, 'slnt' -15
  }
}

@keyframes animHazeSecond {
  from {
    font-variation-settings: 'wdth' 760, 'wght' 100, 'slnt' -15
  }
  to {
    font-variation-settings: 'wdth' 760, 'wght' 700, 'slnt' -15
  }
}

@keyframes animHazeSecondT {
  from {
    font-variation-settings: 'wdth' 300, 'wght' 100, 'slnt' -15
  }
  to {
    font-variation-settings: 'wdth' 300, 'wght' 700, 'slnt' -15
  }
}

.haze
  background-color: #8F8E98
  color: #FAFAFA

  // text styles
  .gargantuan
    font-size: pxToRem(289)
    line-height: (264 / 289)
    letter-spacing: tracking(-10)
    color: #D6D6D6
    .haze-hazy-1
      display: block
      transform: translateX(pxToRem(165))
      animation: animHaze 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
      grtskGigaBoldBkslnt()
    .haze-hazy-2
      display: block
      transform: translateX(pxToRem(-165)) translateY(pxToRem(-60))
      padding-left: pxToRem(20)
      margin-left: pxToRem(-20)
      grtskGigaThinBkslnt()
      animation: animHazeSecond 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +tablet()
      font-size: pxToRem(220)
      line-height: (201 / 220)
      .haze-hazy-1
        transform: translateX(pxToRem(67))
        grtskPetaBoldBkslnt()
        animation: animHazeT 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
      .haze-hazy-2
        transform: translateX(pxToRem(-67)) translateY(pxToRem(-40))
        letter-spacing: tracking(0)
        grtskPetaThinBkslnt()
        animation: animHazeSecondT 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +mobile()
      font-size: pxToRem(141)
      line-height: (129 / 141)
      .haze-hazy-1
        transform: translateX(pxToRem(27)) translateZ(1px)
        grtskExaSemiboldBkslnt()
        animation: none
      .haze-hazy-2
        transform: translateX(pxToRem(-27)) translateY(pxToRem(-25))
        letter-spacing: tracking(40)
        grtskExaThinBkslnt()
        animation: none

  .top-line
    background: linear-gradient(270deg, #FFD5F8, #BEF7E6, #FFFF05)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: #BEF0FF
    +mobile()
      background-color: #FFD5F8
    &:after
      +tablet()
        background-color: #BEF0FF
      +mobile()
        background-color: #FFD5F8

  .bottom
    color: #FFD5F8
    +mobile()
      color: #BEF0FF

  .col-content
    border-top: 1px solid #FAFAFA

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #FAFAFA

  .switch-slider:before
    background-color: #BEF0FF

  .c-f-switch .switch-slider:before
    background-color: #FFD5F8

  .try-button
    border: pxToRem(1) solid #FAFAFA

  menuStyle(
    bgColor: #8F8E98,
    inputColor: #8F8E98,
    inputBgColor: #FAFAFA,
    itemsColor: #F2F2F2,
    borderColor: #D6D6D6,
    shadowColor: rgba(0,0,0,0.1)
  )
