@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animMixed {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 200, 'slnt' 15
  }
}

.mixed-rain-and-snow
  background-color: #FFFBF4
  color: #171717

  // text styles
  .gargantuan
    font-size: pxToRem(250)
    line-height: (186 / 250)
    letter-spacing: tracking(-40)
    grtskZettaMedium()
    animation: animMixed 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    .mixed-come
      line-height: (250 / 250)
      animation: none
      grtskGiga()
    +tablet()
      font-size: pxToRem(178)
      line-height: (157 / 178)
    +mobile()
      font-size: pxToRem(135)
      line-height: (120 / 135)
      animation: none
      .mixed-come
        grtskZettaMedium()
        line-height: (157 / 135)

  .top-line
    background: linear-gradient(270deg, #C42BF2, #AD0057, #000AFF)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: #171717
    +tablet()
      &:after
        background-color: #171717

  .bottom
    color: #E17EFF

  .col-content
    border-top: 1px solid rgba(23,23,23,0.2)

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #171717

  .switch-slider:before
    background-color: #171717

  .try-button
    border: pxToRem(1) solid #171717

  menuStyle(
    bgColor: #FFFBF4,
    inputColor: #FFFBF4,
    inputBgColor: #171717,
    itemsColor: #121212,
    borderColor: #171717,
  )
