@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animNight {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 15
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' -15
  }
}

.night
  background-color: #020A26
  color: #8E5D00

  // text styles
  .gargantuan
    font-size: pxToRem(416)
    line-height: (361 / 416)
    letter-spacing: tracking(-30)
    grtskZettaMediumItalic()
    animation: animNight 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    will-change: font-variation-settings;
    padding: 0 pxToRem(100) pxToRem(100) 0
    margin: 0 pxToRem(-100) pxToRem(-100) 0
    +tablet()
      font-size: pxToRem(296)
      line-height: (257 / 296)
    +mobile()
      font-size: pxToRem(160)
      line-height: (139 / 160)

  .top-line
    background: linear-gradient(270deg, #AD005D, #CC7B0D)
    animation: topline-animation 10s ease infinite
    background-size: 200% 200%

  .bottomBox
    background-color: #8E5D00
    +tablet()
      &:after
        background-color: #8E5D00

  .bottom
    color: #020A26

  .col-content
    border-top: 1px solid #8E5D00

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #8E5D00

  .switch-slider:before
    background-color: #8E5D00

  .c-f-switch .switch-slider:before
    background-color: #D93D3D

  .try-button
    border: pxToRem(1) solid #8E5D00

  menuStyle(
    bgColor: #020A26,
    inputColor: #020A26,
    inputBgColor: #8E5D00,
    itemsColor: #8E5D00,
    borderColor: #8E5D00
  )
