@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animRain {
  from {
    font-variation-settings: 'wdth' 1000, 'wght' 100, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 1000, 'wght' 700, 'slnt' 0
  }
}

@keyframes animRainT {
  from {
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' -15
  }
  to {
    font-variation-settings: 'wdth' 530, 'wght' 700, 'slnt' -15
  }
}

@keyframes animRainM {
  from {
    font-variation-settings: 'wdth' 200, 'wght' 200, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 200, 'wght' 400, 'slnt' 0
  }
}

@keyframes animRainToZettaM {
  from {
    font-variation-settings: 'wdth' 200, 'wght' 200, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 400, 'slnt' 0
  }
}

@keyframes animRainToMegaM {
  from {
    font-variation-settings: 'wdth' 200, 'wght' 200, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 1000, 'wght' 400, 'slnt' 0
  }
}

@keyframes animRainFromMegaM {
  from {
    font-variation-settings: 'wdth' 1000, 'wght' 200, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 200, 'wght' 400, 'slnt' 0
  }
}

.rain
  background-color: #0000FF
  color: #E8E7E7

  // text styles
  .gargantuan
    font-size: pxToRem(212)
    line-height: (192 / 212)
    letter-spacing: tracking(-40)
    text-align: left
    grtskMegaThin()
    animation: animRain 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +tablet()
      grtskTeraThin()
      font-size: pxToRem(205)
      line-height: (186 / 205)
      animation: animRainT 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +mobile()
      grtskExaExtralight()
      font-size: pxToRem(121)
      line-height: (109 / 121)
      animation: animRainM 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
      text-align: center
      .rain-a
        grtskMegaExtraLight()
        animation: animRainFromMegaM 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
      .rain-to-mega
        animation: animRainToMegaM 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
      .rain-to-zetta
        animation: animRainToZettaM 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate

  .top-line
    background: linear-gradient(270deg, #FFFF05, #FF1010)
    animation: topline-animation 10s ease infinite
    background-size: 200% 200%

  .bottomBox
    background-color: #FFFF05
    +tablet()
      &:after
        background-color: #FFFF05

  .bottom
    color: #FF1A1A

  .col-content
    border-top: 1px solid rgba(255,255,232,0.5)

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) #F2F2F2

  .switch-slider:before
    background-color: #FFEC05

  .try-button
    border: pxToRem(1) solid #B1B1B1

  .set-in-grtsk
    color: #B1B1B1

  menuStyle(
    bgColor: #0000FF,
    inputColor: #FFFFFF,
    inputBgColor: #0000FF,
    itemsColor: #FFFFFF,
    borderColor: #FFFFFF
  )
