@import '../consts.styl'
@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animSleet {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' 15
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' -15
  }
}

@keyframes animSleetSecond {
  from {
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' -15
  }
  to {
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' 15
  }
}

.sleet
  background-color: #EFEFEF
  color: $BLUE

  // text styles
  .gargantuan
    font-size: pxToRem(270)
    line-height: (200 / 270)
    grtskZettaBoldItalic()
    letter-spacing: tracking(-40)
    animation: animSleet 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate
    .sleet-nor-snow
      grtskZettaBoldBkslnt()
      font-style: normal
      animation: animSleetSecond 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate
    +tablet()
      font-size: pxToRem(174)
      line-height: (136 / 174)
      margin: 0 pxToRem(-20)
    +mobile()
      font-size: pxToRem(95)
      line-height: (80 / 95)
      margin: 0
      animation: none
      .sleet-nor-snow
        animation: none
      br
        display: none

  .top-line
    background: linear-gradient(270deg, #C42BF2, #611AF9, #000AFF)
    animation: topline-animation 10s ease infinite
    background-size: 300% 300%

  .bottomBox
    background-color: $BLUE
    +tablet()
      &:after
        background-color: $BLUE

  .bottom
    color: white

  .col-content
    border-top: 1px solid rgba(23, 23, 23, 0.2)

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) $BLUE

  .switch-slider:before
    background-color: $BLUE

  .try-button
    border: pxToRem(1) solid $BLUE

  .forecast
      color: $BLACK

  menuStyle(
    bgColor: #EFEFEF,
    inputColor: #FFFFE8,
    inputBgColor: #002CD9,
    itemsColor: #002CD9,
    borderColor: #002CD9,
    shadowColor: rgba(0, 44, 217, 0.2)
  )
