@import '../utils.styl'
@import '../media.styl'
@import '../font-utils.styl'

@keyframes animSunny {
  from {
    font-variation-settings: 'wdth' 200, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' 0
  }
}

@keyframes animSunnyAlt {
  from {
    font-variation-settings: 'wdth' 1000, 'wght' 500, 'slnt' 0
  }
  to {
    font-variation-settings: 'wdth' 500, 'wght' 100, 'slnt' 0
  }
}

.sunny
  background-color: #FFFF00

  // text styles
  .gargantuan
    font-size: pxToRem(276)
    line-height: (276 / 270)
    letter-spacing: tracking(-40)
    grtskExa()
    text-align: left
    animation: animSunny 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +tablet()
      font-size: pxToRem(229)
      line-height: (225 / 229)
    +mobile()
      font-size: pxToRem(120)
      line-height: (125 / 120)
      grtskZettaMedium()
      animation: none

  .sunny-up
    font-size: pxToRem(276)
    line-height: (276 / 270)
    letter-spacing: tracking(-40)
    grtskMegaMedium()
    text-align: left
    animation: animSunnyAlt 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    +tablet()
      font-size: pxToRem(229)
      line-height: (225 / 229)
    +mobile()
      font-size: pxToRem(120)
      line-height: (125 / 120)
      animation: none

  .top-line
    background: linear-gradient(270deg, #F2C7FF, #FFFFE8)
    animation: topline-animation 10s ease infinite
    background-size: 200% 200%

  .bottomBox
    background-color: #E17EFF
    +tablet()
      &:after
        background-color: #E17EFF

  .bottom
    color: #171717

  .col-content
    border-top: 1px solid rgba(23, 23, 23, 0.2)

  .switch-slider:before
    background-color: $BLACK

  .switch-slider
    box-shadow: 0 0 0 pxToRem(2) $BLACK

  .try-button
    border: pxToRem(1) solid $BLACK

  menuStyle(
    bgColor: #FFFF00,
    inputColor: #FFFF00,
    inputBgColor: #171717,
    itemsColor: #121212,
    borderColor: #171717,
  )
