@import '../../style/utils.styl'

.header
  display: flex
  justify-content: space-between

.info
  display: flex

.temperature
  width: pxToRem(245)
  margin-right: pxToRem(30)

.secondRow
  margin-top: pxToRem(5)

.thirdRow
  margin-top: pxToRem(10)

.switches
  display: flex
  childrenSpacingX(pxToRem(60))
