@import '../../style/utils.styl'
@import '../../style/media.styl'

.header
  display: flex
  justify-content: space-between

.info
  display: flex
  +mobile()
    flex: 1
    justify-content: space-between
    padding-right: pxToRem(45)

.temperature
  min-width: pxToRem(215)
  margin-right: pxToRem(60)
  +mobile()
    min-width: auto
    margin-right: 0

.firstRow
  +mobile()
    display: none

.secondRow
  margin-top: pxToRem(5)
  +mobile()
    display: none

.secondRowMobile
  mobileOnly()
  .arrow
  .arrowReversed
    width: pxToRem(10)
    height: pxToRem(7)

.city
  position: relative
  display: inline-block
  user-select: none

.thirdRow
  margin-top: pxToRem(10)
  +mobile()
    margin-top: pxToRem(8)

.temperature
  .thirdRow
    +mobile()
      margin-top: pxToRem(5)

.switches
  display: flex
  childrenSpacingX(pxToRem(60))

.filterSwitch
  +mobile()
    display: none !important

.iconBox
  width: pxToRem(44)
  height: pxToRem(44)
  > svg
    display: block
  +mobile()
    width: pxToRem(30)
    height: pxToRem(30)

.secondRowBox
  position: relative
  cursor: pointer

.arrow
  position: absolute
  left: 100% + pxToRem(25)
  margin-left: pxToRem(10)
  top: 50%
  transform: translateY(-50%)
  width: pxToRem(18)
  height: pxToRem(11)
  +mobile()
    margin-left: pxToRem(5)
  > svg
    display: block

.arrowReversed
  @extends .arrow
  transform: translateY(-50%) scale(1, -1)
