$MOBILE_BP = 600px
$TABLET_BP = 1024px
$CANONIC_SCREEN_WIDTH = 1920px
$CANONIC_SCREEN_WIDTH_T = 1024px
$CANONIC_SCREEN_WIDTH_M = 414px
$ROOT_FONT_SIZE = 19px

$BLACK = #000
$YELLOW = #FFE42B
$GREY = #939393

