@font-face {
  font-family: "GrtskVariable";
  src: url("/assets/fonts/GrtskVariable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GrtskGiga";
  src: url("/assets/fonts/GrtskGiga-Medium.woff2") format("woff2"),
  url("/assets/fonts/GrtskGiga-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskGiga";
  src: url("/assets/fonts/GrtskGiga-Medium.woff2") format("woff2"),
  url("/assets/fonts/GrtskGiga-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskGigaBkslnt";
  src: url("/assets/fonts/GrtskGigaBkslnt-Medium.woff2") format("woff2"),
    url("/assets/fonts/GrtskGigaBkslnt-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "GrtskMega";
  src: url("/assets/fonts/GrtskMega-Thin.woff2") format("woff2"),
    url("/assets/fonts/GrtskMega-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "GrtskMega";
  src:  url("/assets/fonts/GrtskMega-ExtraLight.woff2") format("woff2"),
  url("/assets/fonts/GrtskMega-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GrtskMega";
  src:  url("/assets/fonts/GrtskMega-Light.woff2") format("woff2"),
  url("/assets/fonts/GrtskMega-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "GrtskMega";
  src:  url("/assets/fonts/GrtskMega-Medium.woff2") format("woff2"),
  url("/assets/fonts/GrtskMega-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskMega";
  src:  url("/assets/fonts/GrtskMega-SemiBold.woff2") format("woff2"),
  url("/assets/fonts/GrtskMega-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GrtskMega";
  src:  url("/assets/fonts/GrtskMega-Bold.woff2") format("woff2"),
  url("/assets/fonts/GrtskMega-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GrtskTera";
  src: url("/assets/fonts/GrtskTera-Thin.woff2") format("woff2"),
    url("/assets/fonts/GrtskTera-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "GrtskTera";
  src:  url("/assets/fonts/GrtskTera-Extralight.woff2") format("woff2"),
  url("/assets/fonts/GrtskTera-Extralight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "GrtskTera";
  src:  url("/assets/fonts/GrtskTera-Light.woff2") format("woff2"),
  url("/assets/fonts/GrtskTera-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "GrtskTera";
  src:  url("/assets/fonts/GrtskTera-Medium.woff2") format("woff2"),
  url("/assets/fonts/GrtskTera-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskTera";
  src:  url("/assets/fonts/GrtskTera-Bold.woff2") format("woff2"),
  url("/assets/fonts/GrtskTera-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "GrtskPeta";
  src:  url("/assets/fonts/GrtskPeta-Extralight.woff2") format("woff2"),
  url("/assets/fonts/GrtskPeta-Extralight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "GrtskPeta";
  src:  url("/assets/fonts/GrtskPeta-Regular.woff2") format("woff2"),
  url("/assets/fonts/GrtskPeta-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GrtskPeta";
  src:  url("/assets/fonts/GrtskPeta-SemiBold.woff2") format("woff2"),
  url("/assets/fonts/GrtskPeta-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GrtskPetaBkslnt";
  src:  url("/assets/fonts/GrtskPetaBkslnt-Regular.woff2") format("woff2"),
  url("/assets/fonts/GrtskPetaBkslnt-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GrtskPetaBkslnt";
  src:  url("/assets/fonts/GrtskPetaBkslnt-Regular.woff2") format("woff2"),
  url("/assets/fonts/GrtskPetaBkslnt-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GrtskZetta";
  src:  url("/assets/fonts/GrtskZetta-ExtraLight.woff2") format("woff2"),
  url("/assets/fonts/GrtskZetta-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GrtskZetta";
  src: url("/assets/fonts/GrtskZetta-Light.woff2") format("woff2"),
  url("/assets/fonts/GrtskZetta-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "GrtskZetta";
  src:  url("/assets/fonts/GrtskZetta-Medium.woff2") format("woff2"),
  url("/assets/fonts/GrtskZetta-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskZetta";
  src:  url("/assets/fonts/GrtskZetta-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/GrtskZetta-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "GrtskZetta";
  src:  url("/assets/fonts/GrtskZetta-Bold.woff2") format("woff2"),
  url("/assets/fonts/GrtskZetta-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GrtskExa";
  src: url("/assets/fonts/GrtskExa-ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/GrtskExa-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "GrtskExa";
  src: url("/assets/fonts/GrtskExa-Extralight.woff2") format("woff2"),
    url("/assets/fonts/GrtskExa-Extralight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "GrtskExa";
  src:  url("/assets/fonts/GrtskExa-Light.woff2") format("woff2"),
  url("/assets/fonts/GrtskExa-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "GrtskExa";
  src:  url("/assets/fonts/GrtskExa-Medium.woff2") format("woff2"),
  url("/assets/fonts/GrtskExa-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskExaBkslnt";
  src: url("/assets/fonts/GrtskExaBkslnt-Regular.woff2") format("woff2"),
    url("/assets/fonts/GrtskExaBkslnt-Regular.otf") format("opentype");
  font-weight: 400;
}
