@import '../style/media.styl'

grtskPeta()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif

grtskPetaSemiBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 810, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif
    font-weight: 600

grtskPetaBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' -15
  +noVariable()
    font-family: GrtskPetaBkslnt, Helvetica, sans-serif

grtskMega()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 810, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 600

grtskGiga()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskGiga, Helvetica, sans-serif
    font-weight: 500

grtskTera()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 500

grtskZettaMedium()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 500

grtskMegaMedium()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 500

grtskExa()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
    font-weight: 500
