@import '../style/media.styl'

grtskPetaExtraLight()
  font-weight: 200
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 190, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif

grtskPeta()
  font-weight: 400
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif

grtskPetaSemiBold()
  font-weight: 600
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 810, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif

grtskPetaBkslnt()
  font-weight: 400
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' -15
  +noVariable()
    font-family: GrtskPetaBkslnt, Helvetica, sans-serif

grtskPetaBoldBkslnt()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 1000, 'slnt' -15
  +noVariable()
    font-family: GrtskPetaBkslnt, Helvetica, sans-serif

grtskGiga()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskGiga, Helvetica, sans-serif

grtskGigaMediumBkslnt()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 590, 'slnt' -15
  +noVariable()
    font-family: GrtskGigaBkslnt, Helvetica, sans-serif

grtskGigaBold()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 1000, 'slnt' 0
  +noVariable()
    font-family: GrtskGiga, Helvetica, sans-serif

grtskGigaBoldBkslnt()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 1000, 'slnt' -15
  +noVariable()
    font-family: GrtskGigaBkslnt, Helvetica, sans-serif

grtskTeraThin()
  font-weight: 100
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif

grtskTeraThinBkslnt()
  font-weight: 100
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' -15
  +noVariable()
    font-family: GrtskTeraBkslnt, Helvetica, sans-serif

grtskTeraExtraLight()
  font-weight: 200
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 190, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif

grtskTeraLight()
  font-weight: 300
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 280, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif

grtskTera()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif

grtskTeraSemiBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 810, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 600

grtskTeraBold()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 1000, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif

grtskZettaExtraLight()
  font-weight: 200
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 190, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif

grtskZettaLight()
  font-weight: 300
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 280, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif

grtskZettaMedium()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif

grtskZettaMediumItalic()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 590, 'slnt' 15
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-style: italic

grtskZettaBold()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 1000, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif

grtskZettaBoldItalic()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 1000, 'slnt' 15
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-style: italic

grtskZettaBoldBkslnt()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 1000, 'slnt' -15
  +noVariable()
    font-family: GrtskZettaBkslnt, Helvetica, sans-serif

grtskZettaSemiboldBkslnt()
  font-weight: 600
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 810, 'slnt' -15
  +noVariable()
    font-family: GrtskZettaBkslnt, Helvetica, sans-serif

grtskMegaThin()
  font-weight: 100
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif

grtskMegaExtraLight()
  font-weight: 200
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 190, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif

grtskMegaLight()
  font-weight: 300
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 280, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif

grtskMegaMedium()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif

grtskMegaSemiBold()
  font-weight: 600
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 810, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif

grtskMegaBold()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 1000, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif

grtskExaThin()
  font-weight: 100
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif

grtskExaThinBkslnt()
  font-weight: 100
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' -15
  +noVariable()
    font-family: GrtskExaBkslnt, Helvetica, sans-serif

grtskExaExtralight()
  font-weight: 200
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 190, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif

grtskExaLight()
  font-weight: 300
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 280, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif

grtskExa()
  font-weight: 500
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 590, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif

grtskExaRegularBkslnt()
  font-weight: 400
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 400, 'slnt' -15
  +noVariable()
    font-family: GrtskExaBkslnt, Helvetica, sans-serif

grtskExaBold()
  font-weight: 700
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 1000, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
