@import '../style/media.styl'

grtskPetaExtraLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 200, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif
    font-weight: 200

grtskPeta()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif
    font-weight: 400

grtskPetaSemiBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 600, 'slnt' 0
  +noVariable()
    font-family: GrtskPeta, Helvetica, sans-serif
    font-weight: 600

grtskPetaBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' -15
  +noVariable()
    font-family: GrtskPetaBkslnt, Helvetica, sans-serif
    font-weight: 400

grtskPetaBoldBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 300, 'wght' 700, 'slnt' -15
  +noVariable()
    font-family: GrtskPetaBkslnt, Helvetica, sans-serif
    font-weight: 700

grtskGiga()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 500, 'slnt' 0
  +noVariable()
    font-family: GrtskGiga, Helvetica, sans-serif
    font-weight: 500

grtskGigaMediumBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 500, 'slnt' -15
  +noVariable()
    font-family: GrtskGigaBkslnt, Helvetica, sans-serif
    font-weight: 500

grtskGigaBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 700, 'slnt' 0
  +noVariable()
    font-family: GrtskGiga, Helvetica, sans-serif
    font-weight: 700

grtskGigaBoldBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 760, 'wght' 700, 'slnt' -15
  +noVariable()
    font-family: GrtskGigaBkslnt, Helvetica, sans-serif
    font-weight: 700

grtskTeraThin()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 100

grtskTeraThinBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 100, 'slnt' -15
  +noVariable()
    font-family: GrtskTeraBkslnt, Helvetica, sans-serif
    font-weight: 100

grtskTeraExtraLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 200, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 200

grtskTeraLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 300, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 300

grtskTera()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 500, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 500

grtskTeraSemiBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 600, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 600

grtskTeraBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 530, 'wght' 700, 'slnt' 0
  +noVariable()
    font-family: GrtskTera, Helvetica, sans-serif
    font-weight: 700

grtskZettaThin()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 100

grtskZettaExtraLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 200, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 200

grtskZettaLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 300, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 300

grtskZettaMedium()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 500

grtskZettaMediumItalic()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 500, 'slnt' 15
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 500
    font-style: italic

grtskZettaBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' 0
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 700

grtskZettaBoldItalic()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' 15
  +noVariable()
    font-family: GrtskZetta, Helvetica, sans-serif
    font-weight: 700
    font-style: italic

grtskZettaBoldBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 700, 'slnt' -15
  +noVariable()
    font-family: GrtskZettaBkslnt, Helvetica, sans-serif
    font-weight: 700

grtskZettaSemiboldBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 100, 'wght' 600, 'slnt' -15
  +noVariable()
    font-family: GrtskZettaBkslnt, Helvetica, sans-serif
    font-weight: 600

grtskMegaThin()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 100

grtskMegaExtraLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 200, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 200

grtskMegaLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 300, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 300

grtskMegaRegular()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 400, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 400

grtskMegaMedium()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 500, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 500

grtskMegaSemiBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 600, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 600

grtskMegaBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 1000, 'wght' 700, 'slnt' 0
  +noVariable()
    font-family: GrtskMega, Helvetica, sans-serif
    font-weight: 700

grtskExaThin()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
    font-weight: 100

grtskExaThinBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 100, 'slnt' -15
  +noVariable()
    font-family: GrtskExaBkslnt, Helvetica, sans-serif
    font-weight: 100

grtskExaExtralight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 200, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
    font-weight: 200

grtskExaLight()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 300, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
    font-weight: 300

grtskExa()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 500, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
    font-weight: 500

grtskExaRegularBkslnt()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 400, 'slnt' -15
  +noVariable()
    font-family: GrtskExaBkslnt, Helvetica, sans-serif
    font-weight: 400

grtskExaBold()
  +variable()
    font-family: GrtskVariable, Helvetica, sans-serif
    font-variation-settings: 'wdth' 200, 'wght' 700, 'slnt' 0
  +noVariable()
    font-family: GrtskExa, Helvetica, sans-serif
    font-weight: 700
