@import './consts.styl'
@import './media.styl'
@import './text.styl'
@import './fonts.styl'
@import './utils.styl'
@import './themes/common.styl'
@import './themes/default.styl'
@import './themes/sunny.styl'
@import './themes/cloudy.styl'
@import './themes/snow.styl'
@import './themes/partly-cloudy.styl'
@import './themes/rain.styl'
@import './themes/haze.styl'

html, body
  height: 100%
  width: 100%
  color: $BLACK

:root {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif
  font-weight: normal
  font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH * 100) vw
}

+tablet()
  :root {
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_T * 100) vw
  }

+mobile()
  :root {
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_M * 100) vw
  }

#app
  height: 100%

h2
  font-weight: normal

@keyframes topline-animation {
  0% { background-position:0% 50% }
  50% { background-position:100% 50% }
  100% { background-position:0% 50% }
}

.top-line
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: pxToRem(5)

.bottom
  width: pxToRem(1880)
  height: pxToRem(50)
  margin: 0 auto
  +tablet()
    width: pxToRem(1880)
    margin-left: pxToRem(20)
  +mobile()
    height: pxToRem(100)

.bottomBox
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding: pxToRem(14) 0 pxToRem(17)
  overflow: hidden
  +tablet()
    &:after
      display: block
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: pxToRem(20)
  +mobile()
    padding: pxToRem(10) 0 0
    &:after
      width: pxToRem(15)
