@import './consts.styl'

hide()
  display: none

childrenSpacingY(space)
  > * + *
    margin-top: space

childrenSpacingX(space)
  > * + *
    margin-left: space

pxToRem(px)
  (px / $ROOT_FONT_SIZE) rem

tracking(value)
  (value / 1000) em

.centered
  display: flex
  align-items: center
  justify-content: center

menuStyle(
  bgColor,
  inputColor,
  inputBgColor,
  itemsColor,
  borderColor,
  shadowColor = rgba(23, 23, 23, 0.1)
)
  .menu
    background-color: bgColor
    border: pxToRem(1) solid borderColor
    box-shadow: pxToRem(25) pxToRem(25) 0 shadowColor

    .input
      background-color: inputBgColor
      color: inputColor

    .menuCitiesBox
      color: itemsColor
