@font-face {
  font-family: "GrtskGiga";
  src:  url("/assets/fonts/GrtskGiga-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskMega";
  src:  url("/assets/fonts/GrtskMega-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GrtskPeta";
  src:  url("/assets/fonts/GrtskPeta-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GrtskPeta";
  src:  url("/assets/fonts/GrtskPeta-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GrtskPetaBkslnt";
  src:  url("/assets/fonts/GrtskPetaBkslnt-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GrtskTera";
  src:  url("/assets/fonts/GrtskTera-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GrtskZetta";
  src:  url("/assets/fonts/GrtskZetta-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
